@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="text-center">




    <h1>les vols d'aujourd'hui</h1>
    <div class="card-container item-center">
        <div class="card">
            <img src="https://images.pexels.com/photos/1059078/pexels-photo-1059078.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image1">
            <h3>Vol   06:30H</h3>
            <p>Rabat-Salé à Bordeaux.</p>
        </div>
        <div class="card">
            <img src="https://images.pexels.com/photos/3254729/pexels-photo-3254729.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image2">
            <h3>Vol   12:45H </h3>
            <p>Rabat-Salé à Madrid .</p>
        </div>
        <div class="card">
            <img src="https://images.pexels.com/photos/887848/pexels-photo-887848.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image3">
            <h3>Vol   19:00H</h3>
            <p>Rabat-Salé à NYC .</p>
        </div>
    </div>



   
    
</div>

